@model ML.Alumno
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Login.css">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Alumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="center">
                <h2>Please Sign In</h2>
                @Html.TextBoxFor(model => model.Nombre, new { @class = "center" })
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "center", @type="password" })
                <input type="submit" value="Guardar" class="" />
            </div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="center">
                <h2>Please Sign In</h2><input placeholder="email" name="userName" /><input type="password" name="password" placeholder="password" />
                <input type="submit" value="Guardar" class="" />
            </div>
        }
    </div>
</body>
</html>
