
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/css/Login.css">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Please Sign In</h2><input type="email" placeholder="email" /><input type="password" placeholder="password" />
        <h2>&nbsp;.container(onclick)</h2>
    </div>
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Please Sign In</h2><input type="email" placeholder="email" /><input type="password" placeholder="password" />
        <h2>&nbsp;</h2>
    </div>
</div>
</body>
</html>
